<ion-view view-title="Settings">
    <ion-content>
        <div class="card list">
            <div class="item item-divider">
                Cache
            </div>
            <div class="item padding">
                <button class="button button-block button-stable" data-ng-click="clearDataCache()">Clear data cache</button>
            </div>
            <div class="item padding">
                <button class="button button-block button-stable" data-ng-click="clearViewsCache()">Clear views cache</button>
            </div>
            <div class="item padding">
                <button class="button button-block button-stable" data-ng-click="clearAllCaches()">Clear all caches</button>
            </div>
        </div>
    </ion-content>
</ion-view>
